html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    position: relative;
    width: 100%;
    min-width: 320px;
    font: 16px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

header, nav {
    display: block;
}

h1, p, ul {
    margin: 0 0 10px;
}

h1 {
    font: 100 4.5em/1 'Roboto';
    font-weight: 700;
    padding: 10px 0;
}

@media screen and (max-width: 455px) {
    h1 {
        font: 100 2.5em/1 'Roboto';
    }
}

@media screen and (min-width: 456px) and (max-width: 530px) {
    h1 {
        font: 100 3em/1 'Roboto';
    }
}

@media screen and (min-width: 531px) and (max-width: 699px) {
    h1 {
        font: 100 3.5em/1 'Roboto';
    }
}

a {
    color: rgb(7, 60, 113);
    color: rgb(252, 152, 2);
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: rgb(252, 152, 2);
}

.title {
    font: 24px/30px 'Courier New', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.contacts {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}

.contacts > li {
    display: inline;
    margin: 8px;
    font-size: 24px;
}

.page {
    color: #FFB03A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #185A9D;
    background-size: 3px, cover, cover;
    background-position: right;
}

@media only screen and (min-width: 1200px) {
    .page {
        background-image: url(../img/dot.svg), radial-gradient(circle at center , rgba(30, 93, 73, .85), rgba(0, 0, 0, 0.95)), url(../img/headshot-colored-hd.jpg);
    }
}

@media only screen
and (min-width: 800px)
and (max-width: 1199px) {
    .page {
        background-image: url(../img/dot.svg), radial-gradient(circle at center , rgba(30, 93, 73, .85), rgba(0, 0, 0, 0.95)), url(../img/headshot-colored-m.jpg);
    }
}

@media only screen
and (min-width: 520px)
and (max-width: 799px) {
    .page {
        background-image: url(../img/dot.svg), radial-gradient(circle at center , rgba(30, 93, 73, .85), rgba(0, 0, 0, 0.95)), url(../img/headshot-colored-s.jpg);
    }
}

@media only screen
and (max-width: 519px) {
    .page {
        background-image: url(../img/dot.svg), radial-gradient(circle at center , rgba(30, 93, 73, .85), rgba(0, 0, 0, 0.95)), url(../img/headshot-colored-xs.jpg);
    }
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #FFF;
    width: 100%;
    height: 50%;
    padding: 5px;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
}